body {
    background-color: lightyellow;
}

h1 {
    margin-bottom: 80px;
}
.main{
    background-color: white;
}

.container {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
